body {
	position:fixed;
        
}


div#playground {
    position : fixed;
    top : 0%;
    left : 0%;
    width : 100vw;
    height : 100vh;
    background-image : url("../Images/Background.png");
}
div#hp {
	position:fixed;
	width : 200px;
	height: 30px;
	left : 1%;
}

div#announcer {
	position:fixed;
	width : 400px;
	height: 100px;
	top : 40%;
	left : 40%;
}

div#score {
	position:fixed;
	width : 150px;
	height: 30px;
	left : 90%;
}

div#score p {
	position:fixed;
	color:white;
	text-align: center;
	font-size : 20px;
}

div#player {
	position:fixed;
	width : 90px;
	height: 75px;
	top : 350px;
	left : 75px;
}

div#enemy {
	position:fixed;
}

