div#playground {
	position:fixed;
	width:1200px;
	height:800px;
	background-image : url("../Images/Background.png");
}

div#hp {
	position:fixed;
	width : 200px;
	height: 30px;
	top : 15px;
	left : 15px;
	background: blue;
}

div#announcer {
	position:fixed;
	width : 400px;
	height: 100px;
	top : 340px;
	left : 400px;
	background: red;
}

div#score {
	position:fixed;
	width : 150px;
	height: 30px;
	top : 15px;
	left : 1050px;
	background: cyan;
}

